# Telegram Bot Configuration
BOT_TOKEN=5127350516:AAGwBQBQRqdowSyznwzSOHf6v6a7AOaX9hI

# API Backend (mismo que el frontend)
API_URL=https://inventory.cloudns.be/api/v1

# Admin Telegram Chat IDs (separados por coma)
ADMIN_CHAT_IDS=123456789
